#
# Vagrant Windows box factory
#
# @author Luke Carrier <luke@carrier.im>
# @copyright 2015 Luke Carrier
# @license GPL v3
#

Vagrant.configure(2) do |config|
    config.vm.box = "LukeCarrier/windows-2008-r2-64"

    config.vm.provision "shell",
            path: File.join("vagrant-windows", Install.ps1"),
            args: [File.join("C:\\vagrant\\vagrant-windows\\scripts"]
end
